{% extends "base.jinja" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="row justify-content-center ">
        <div class="col-7 align-self-center">
            <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
            <form class="form-signin" method="post">
                <div class="form-group">
                    <label for="name">Name</label><br>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <button type="submit" class="btn btn-primary">Say hello</button>
            </form>
        <br>
        <div>
            {% block result %} {% endblock %}
        </div>

        </div>
    </div>


{% endblock %}